@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap);

:root {
  --main-font: "Raleway", sans-serif;
  --main-green: #597B6A;
  --accent-green: #90b569;
  --section-colour: #f4f2f1;
  --green-text: #1a3c2a;
}

body {
  margin: 90px 0 0 0;
  min-height: 100%;
  padding: 0;
  font-family: var(--main-font);
  background: radial-gradient(
    farthest-side at bottom left, #fccfb1, transparent), radial-gradient(#cdfcf3, transparent), radial-gradient(farthest-corner at bottom right, #fac3d9, transparent) ;
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	height: 100vh;
}

.titleFont {
  font-family: var(--main-font);
}

::-webkit-scrollbar {
  display: none;
}

.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
  background-color: var(--main-green) !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  background-color: var(--section-colour);
}

.navAtagDesktop {
  color: var(--section-colour);
  text-decoration: none;
}

.navAtag {
  color: var(--main-green);
  text-decoration: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}