:root {
  --main-bg-color: #5f7660;
  --main-font-color: #f9fff9;
  --navbar-colour: #435946;
}

* {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: "Baskerville";
}

.navUl {
  background-color: var(--navbar-colour);
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.navLi {
  float: right;
}

.navAtag {
  background-color: var(--navbar-colour);
  color: var(--main-font-color);
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}