footer {
  width: 100%;
  background-color: var(--navbar-colour);
  color: var(--main-font-colour);
  text-align: center;
}

h3 {
  background-color: var(--navbar-colour);
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  background-color: var(--navbar-colour);
  width: 100%;
}

.underline-style a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  height: 1px;
}

.underline-style a:hover:after {
  width: 100%;
}

.footerLink {
  background-color: var(--navbar-colour);
  color: var(--main-font-color);
  display: block;
  padding: 18px 20px;
  text-decoration: none;
}

.footerLink,
.footerLink:after,
.footerLink:before {
  transition: all 0.5s;
}
