footer {
    background-color: var(--section-colour);
    padding: 10px 0;
}

.footerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    width: 100%;
}

.footerQuote {
    text-align: center;
}

.iconList {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px;
}

