  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    background-color: var(--section-colour);
  }
  
  label {
    padding: 20px 0 0 0;
    display: inline-block;
    color: var(--green-text);
    text-align: left;
  }
  
  .formContainer {
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgba(144, 181, 105, 0.5);
    padding: 20px;
  }
  
  button {
    margin-top: 15px;
    padding: 8px 14px;
    font-family: var(--title-font);
  }
  
  .buttonContainer {
    text-align: center;
  }


  .successMessage, .errorMessage, .loading {
    text-align: center;
    margin-top: 30px;
  }

  .required {
    font-size: 30px;
    vertical-align: middle;
    padding: 0;
    margin: 0;
  }

  .reqText {
    font-size: 14px;
    font-style: italic;
  }


  button {
    align-items: center;
    background-color: var(--section-colour);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: var(--green-text);
    cursor: pointer;
    display: inline-flex;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 15px auto 5px auto;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-6:hover,
  .button-6:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
  }
  
  .button-6:hover {
    transform: translateY(-1px);
  }
  
  .button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }