.text {
    text-align: center;
}

.tagline, .projectDesc {
    max-width: 70%;
    margin: 20px auto;
}

.projectHome {
    text-align: center;
}

.homeProjectImg {
    margin: 10px auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.homeProjectImg:hover {
    height: 405px;
    width: 305px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.toolkit {
    background-color: #f4f2f1;
    padding: 20px 0;
    margin: 50px auto;
}

.toolIcons img {
    margin: 10px;
}

.workTogether {
    margin-bottom: 50px;
}


.viewAllProjects, .getInTouch {
    color: black;
}

@media only screen and (min-width: 768px) {
    .projectHome {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    .titleAndProject {
        margin: auto;
        max-width: 60%;
    }

    .projectDesc {
        max-width: 40%;
    }
}