.text {
    text-align: center;
}

.projectHome {
    text-align: center;
}

.homeProjectImg {
    margin: 10px auto;
    object-fit: cover;
}

.toolkit {
    background-color: #f4f2f1;
    padding: 20px 0;
    margin: 50px auto;
}

.toolIcons img {
    margin: 10px;
}

.workTogether {
    margin-bottom: 50px;
}


@media only screen and (min-width: 768px) {
    .projectHome {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    .titleAndProject {
        margin: auto 100px;
    }
}