
.underline-style a {
  position: relative;
}
.underline-style a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: var(--main-font-color);
  height: 1px;
}
.underline-style a:hover:after {
  width: 100%;
}

.navUl {
  background-color: var(--navbar-colour);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  left: 0;
  list-style: none;
  margin: 0;
  overflow: hidden;
  position: fixed;
  padding: 0;
  text-align: center;
  top: 0;
  width: 100%;
}

.navLi {
  float: right;
}

.navAtag {
  background-color: var(--navbar-colour);
  color: var(--main-font-color);
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}

.navAtag,
.navAtag:after,
.navAtag:before {
  transition: all 0.5s;
}
