.text {
    text-align: center;
}

.projectGallery {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 40px auto;
  max-width: 980px;
}

.project {
    flex-basis: 250px;
    position: relative;
    cursor: pointer;
}

ul {
    list-style: none;
}

@media only screen and (max-width: 768px) {
}
