.text {
  text-align: center;
}

.projectSubheading {
  width: 80%;
  margin: auto;
}

.projectGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 40px auto;
  max-width: 980px;
}

.project {
  flex-basis: 250px;
  width: 50%;
  position: relative;
  cursor: pointer;
}

.project img {
  object-fit: cover;
  object-position: middle;
  display: block;
  border-radius: 10px;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
}

ul {
  list-style: none;
}

.hoverOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--accent-green);
  overflow: hidden;
  width: 300px;
  height: 0;
  transition: 1s ease;
  opacity: 95%;
  border-radius: 10px;
}

.projectName a {
  color: var(--secion-colour);
}

.project:hover .hoverOverlay {
  height: 100%;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
}

.projectName {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
